/* GLOBAL STYLES
-------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  line-height: 1.4em;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

header {
  background: none;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background: #0a3ca2;
}

header .navbar-brand {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar-brand img {
  max-height: 98px;
}

.topbar {
  background: #5b5b5b;
}

.topbar-left,
.topbar-right {
  padding: 0;
  list-style: none;
  margin: 0;
}

.topbar-left {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 13px;
}

ul.topbar-right {
  float: right;
  margin-top: 14px;
  margin-bottom: 14px;
}

.icon-xs {
  display: inline-block;
}

.icon-phone {
  background: url("../images/phone-icon.png") 0 0 no-repeat transparent;
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.icon-fb {
  background: url("../images/fb-icon.png") 0 0 no-repeat transparent;
  width: 35px;
  height: 35px;
}

.icon-youtube {
  background: url("../images/linkedin_174857.png") 0 0 no-repeat transparent;
  width: 35px;
  height: 35px;
}

.phoneNo a {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  vertical-align: super;
}

ul.topbar-right a {
  display: block;
}

ul.topbar-right > li:first-child {
  margin-left: 0;
}

ul.topbar-right > li {
  display: inline-block;
  margin-left: 12px;
  position: relative;
}

.main-logo a {
  display: inline-block;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.nav.navbar-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav.navbar-nav a {
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 24px;
}

.nav.navbar-nav a:focus {
  background: none;
  color: #fff;
}

.nav.navbar-nav a:hover,
.nav.navbar-nav a:active {
  color: #fff;
  background: none;
  text-decoration: underline;
}

.inner-nav {
  float: right;
}

.navbar-toggle {
  background: #060606;
  margin-top: 20px;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.mid-header img {
  margin: 0 auto;
  max-width: 250px;
  max-height: 200px;
}

.home-link {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 30px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
  margin-bottom: 0;
}

.carousel-indicators li {
  height: 6px;
  width: 70px;
  border-radius: 0;
  border: 0;
  background: #0a3ca2;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-indicators li.active {
  background: #fff;
  height: 6px;
  width: 70px;
  border-radius: 0;
}

.carousel .item {
  background-color: #777;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  min-width: 100%;
}

/* general
--------------------------------------*/

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0a3ca2;
}
h3 {
  color: #81b1fc;
}

h1,
h2,
h4,
h5,
h3 {
  font-weight: 800;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}

.full-width {
  width: 100%;
  float: left;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mid-area {
  margin-left: 12%;
  margin-right: 12%;
}

.mt-lg {
  margin-top: 20px;
}

.mt-md {
  margin-top: 40px;
}

.mt-sm {
  margin-top: 20px;
}

.mb-lg {
  margin-bottom: 30px;
}

.mb-md {
  margin-bottom: 40px;
}

.mb-sm {
  margin-bottom: 20px;
}

.pt-lg {
  padding-top: 60px;
}

.pt-md {
  padding-top: 40px;
}

.pt-sm {
  padding-top: 20px;
}

.pb-lg {
  padding-bottom: 60px;
}

.pb-md {
  padding-bottom: 40px;
}

.pb-sm {
  padding-bottom: 20px;
}

.font-white,
.font-white a {
  color: #fff;
}

span.icon-next {
  background-color: black;
}
span.icon-prev {
  background-color: black;
}

.nav-right li {
  width: 210px;
}
.content-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.btn-default {
  background: #f2521d;
  font-weight: 700;
  color: #fff;
  padding: 15px 20px !important;
}

.btn-default:hover {
  background: rgba(242, 82, 29, 0.9);
  color: #fff;
}

.btn-lg {
  font-size: 16px;
  min-width: 150px;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn-primary {
  background: #f2521d;
  border: none;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  padding: 10px 28px;
}

.btn {
  white-space: normal;
}

/*three service section*/

.icon {
  background: #456bb8;
  border: 3px solid #456bb8;
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 16px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.icon:hover,
.icon:focus,
.icon:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.blue-boxes img {
  border-radius: 50%;
  height: 174px;
  width: 174px;
}

.blue-boxes h4 {
  font-weight: 800;
}

.blue-bg {
  background: #dfecff;
}

.blue-bg p {
  color: #5b5b5b;
}

@media (min-width: 768px) {
  .inverted-bg-inverted,
  .inverted-bg {
    padding: 6% 0;
    background: #84b4fc;
    position: relative;
  }
  .inverted-bg-inverted img {
    position: relative;
    right: -56px;
  }
  .inverted-bg img {
    position: relative;
    left: -56px;
  }
}

/*Footer**/

footer {
  background: url("../images/footer-bg.jpg") 0 0 no-repeat transparent;
  background-size: cover;
}

/* footer img {
    float: left;
} */

footer li {
  line-height: 2em;
}

footer li,
footer a,
footer li a,
footer li a:hover,
footer,
footer p {
  color: rgba(255, 255, 255, 0.8);
}

footer h4 {
  color: #fff;
}

.footer-item {
  border-left: 1px solid #84b4fc;
  border-right: 1px solid #84b4fc;
  padding: 0 5%;
}

.pull-left li {
  line-height: 35px;
}
.pull-right li {
  line-height: 35px;
}
footer h4 {
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  footer .service-area {
    padding-left: 15px;
  }
}

.contact-div {
  padding-left: 5%;
  padding-right: 5%;
}

.contact-div p a {
  vertical-align: super;
}
.contact-div p {
  line-height: 35px;
}

.dropdown,
.dropup {
  position: unset;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.dropdown .dropbtn:hover {
  color: #fff;
}

/* 
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0a3ca2;
  width: 80%;
  left: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 300;
  transform: translate(-50%);
  padding: 5px;
}

.dropdown-content .row {
  margin: 0;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .column h3 {
  color: #fff;
}

.dropdown-content .column a {
  margin-top: 7px;
  margin-bottom: 11px;
  padding: 0px;
}

.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 100%;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

.video-container iframe {
  width: 100%;
  height: 315px;
}

@media (min-width: 768px) {
  .video-container iframe {
    padding-left: 20px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1200px) {
  .mid-header img.logo-lg {
    position: relative;
    top: 14px;
    z-index: 10;
  }
  .main-logo {
    height: 52px;
  }
}

@media (min-width: 992px) {
  .col-md-2 {
    width: 20%;
  }
}
.main-logo img {
  background-color: white;
}
@media (max-width: 991px) and (min-width: 768px) {
  .main-logo img {
    max-width: 156px;
  }
  .navbar #bs-example-navbar-collapse-1 {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .main-logo img {
    max-width: 188px;
    min-height: auto;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  footer img {
    float: none;
  }
}

#btn-call {
  display: inline-block;
}

@media (max-width: 1024px) {
  #btn-call {
    display: none;
  }
}

@media (max-width: 1200px) {
  #bs-example-navbar-collapse-1 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .topbar-left {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  .topbar-right {
    margin-top: 2px;
    float: left;
    text-align: center;
    width: 100%;
  }
  .topbar-right a img {
    height: 24px;
    width: 24px;
  }
  .mid-header {
    margin-top: 14px;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer img {
    margin: 0 auto;
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .dropdown:hover .dropdown-content.open {
    display: block;
    background-color: transparent !important;
  }
  .dropdown-content .column h3 {
    margin-top: 0;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .main-logo img {
    max-width: 255px;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .top-phone {
    text-align: center;
  }
  .navbar-nav > li:last-child > a {
    padding: 6px 15px;
  }
  header .navbar-brand img {
    max-height: 76px;
    background-color: white;
  }
  .dropdown {
    float: unset;
  }
  .dropdown-content {
    position: unset;
    transform: unset;
    background-color: unset;
    box-shadow: unset;
  }
  .dropdown-content .column {
    background-color: unset;
  }
  .nav.navbar-nav a {
    padding-left: 0;
    padding: 5px 0;
  }
  .navbar-nav > li:last-child > a {
    padding-left: 0;
  }
  .dropdown .dropbtn {
    padding: 5px 0;
  }
  .dropdown-content .column {
    width: 100%;
    height: unset;
  }
  .dropdown-content .column a {
    margin: 3px 0;
    padding: 0px;
  }
}

@media (min-width: 776px) {
  .nav-right {
    float: right;
  }
  #bs-example-navbar-collapse-1 {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .footer-logo {
    display: none;
  }
}

.img-wrap {
  display: flex;
  justify-content: center;
}

.float-img {
  float: right;
  padding: 10px 20px;
}
.float-img img {
  width: 200px;
}

@media (max-width: 768px) {
  .img-wrap img {
    width: 100% !important;
  }
  .float-img img {
    width: 100%;
  }
  .video-banner video {
    height: 30rem !important;
  }
}

.partner-logo .owl-item img {
  max-width: 150px;
  margin: 0 auto;
}

.video-banner video {
  width: 100%;
  object-fit: cover;
  height: 50rem;
}
.video-banner {
  margin-bottom: -6px;
}
